doctype html
html(lang='en')
	head
		script(type='text/javascript' src='//code.jquery.com/jquery-2.2.3.min.js')
		script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css')
		link(rel='stylesheet', href='css/tc.css')
		
	body
		section.container
			.row.white
				.block
					.col-xs-12.col-sm-6.col-md-3
						ul.pricing.p-green
							li KAREEM Fishing
								img(src='http://www.venicelafishingguides.com/images/icon-fish.png', alt='')
								big Salamon
							li 80 CM Average
							li Deep blue sea
							li 50 KG
							li
								h3 $190
							li
								button Bid
					.col-xs-12.col-sm-6.col-md-3
						ul.pricing.p-green
							li Belsy Fishing
								img(src='http://www.venicelafishingguides.com/images/icon-fish.png', alt='')
								big Salamon
							li 50 CM Average
							li Norway
							li 150 KG
							li
								h3 $399
							li
								button Bid
					.col-xs-12.col-sm-6.col-md-3
						ul.pricing.p-green
							li Neo Fishing
								img(src='http://www.venicelafishingguides.com/images/icon-fish.png', alt='')
								big Salamon
							li 80 CM Average
							li China sea
							li 500 KG
							li
								h3 $700
							li
								button Bid
